*{
    margin :0;
    padding :0;
}

#mark{
    height : 10px ;
    width : 10px ;
}

body{
    background-image: linear-gradient(135deg , rgb(170, 0, 0) , black )
}

canvas{
    margin-top : 20px ;
    box-shadow: 1px 1px 5px black ;
}

.score{
    /* background-color : red ; */
    position : fixed ;
    top : 0 ;
    left : 0 ;
    width : 100% ;
    height : 40px ;
}

.score h1{
    width : max-content ;
    /* background-image: linear-gradient(135deg , rgb(170, 0, 0) , rgb(163, 3, 3) ) ; */
    background-color : rgb(0, 0, 80) ;
    margin-left : auto ;
    margin-right : auto ;
    height : 40px ;
    font-size : 30px ;
    box-shadow: 1px 1px 5px black ;
    color : rgb(170, 0, 0) ;
    text-shadow: 1px 1px 5px black ;
    font-weight: bolder ;
    font-family: cursive ;
    padding-left : 10px ;
    padding-right : 10px ;
}

button{
    height :150px;
    background-color: aquamarine ;
    border :none;
    margin :3px;
}

#up , #down{
    width :400px;
}

#left , #right {
    width :200px;
    height: 150px ;
}

button{
    color :black;
    font-family: sans-serif ;
    font-weight: bolder ;
    font-size: 20px ;
}

#freeze{
    height : 150px ;
    width :200px;
}

.head{
    background-color: aquamarine ;
    height :30px;
}

.head h1{
    font-family: sans-serif ;
    font-weight: bold ;
}

span:hover{
    cursor: pointer;
    color :violet;
}
